/chromextensionapi/.phpunit.cache
/chromextensionapi/node_modules
/chromextensionapi/public/build
/chromextensionapi/public/hot
/chromextensionapi/public/storage
/chromextensionapi/storage/*.key
/chromextensionapi/storage/pail
/chromextensionapi/vendor
/chromextensionapi.env
/chromextensionapi.env.backup
/chromextensionapi.env.production
/chromextensionapi.phpactor.json
/chromextensionapi.phpunit.result.cache
/chromextensionapiHomestead.json
/chromextensionapiHomestead.yaml
/chromextensionapinpm-debug.log
/chromextensionapiyarn-error.log
/chromextensionapi/auth.json
/chromextensionapi/.fleet
/.idea
/chromextensionapi/.nova
/chromextensionapi/.vscode
/chromextensionapi/.zed
